name: CI

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "**.nix"
      - "flake.lock"
  workflow_call:
    inputs:
      ref:
        description: "Git ref to checkout"
        required: false
        type: string
        default: ""

jobs:
  check-and-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        host:
          - ivan
          - operator
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref || github.ref }}

      - name: Prepare runner
        uses: ./.github/actions/prepare-runner
        with:
          ssh-private-key: ${{ secrets.PRIVATE_REPO_SSH_KEY }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run flake check
        run: nix flake check --all-systems

      - name: Build NixOS configuration for ${{ matrix.host }}
        run: nix build .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel --print-build-logs
